* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.bg_darkblue {
    background-color: rgb(44, 62, 80);
}

.bg_blue {
    background-color: rgb(58, 84, 109);
}

.h_100 {
    height: 100px;
}

.h_200 {
    height: 200px;
}

.h_400 {
    height: 400px;
}

.bg_red {
    background-color: red;
}

.bg_green {
    background-color: rgb(26, 188, 156);
}