* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.bg_darkblue {
    background-color: rgb(44, 62, 80);
}

.bg_blue {
    background-color: rgb(58, 84, 109);
}

.h_100 {
    height: 100px;
}

.h_200 {
    height: 200px;
}

.h_400 {
    height: 400px;
}

.bg_red {
    background-color: red;
}

.bg_green {
    background-color: rgb(26, 188, 156);
}

.link_style {
    text-transform: uppercase;
    color: #fff;
}

.border_white {
    border: 1px solid #fff;
}

/* header */

header .navbar i {
    color: #fff;
}

/* prima sezione, start bootstrap */

#start_bootstrap img {
    width: 50%;
}

#start_bootstrap h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}

#start_bootstrap span {
    height: 3px;
    background-color: #fff;
    width: 30%;
}

#start_bootstrap i {
    color: white;
    font-size: 20px;
}

#start_bootstrap .grechina {
    width: 80%;
}

/* seconda sezione, portfolio */

#portfolio h2 {
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-size: 35px;
}

#portfolio span {
    height: 3px;
    background-color: rgb(51, 51, 51);
    width: 30%;
}

#portfolio i {
    color: rgb(51, 51, 51);
    font-size: 20px;
}

#portfolio .grechina {
    width: 50%;
}

/* terza sezione, about */

#about h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
}

#about span {
    height: 3px;
    background-color: #fff;
    width: 30%;
}

#about i {
    color: #fff;
    font-size: 20px;
}

#about .grechina {
    width: 50%;
}

#about button {
    border: 1px solid white;
    background-color: rgb(26, 188, 156);
    padding: 10px;    
}

/* quarta sezione, contact me */

#contact_me h2 {
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-size: 35px;
}

#contact_me span {
    height: 3px;
    background-color: rgb(51, 51, 51);
    width: 30%;
}

#contact_me i {
    color: rgb(51, 51, 51);
    font-size: 20px;
}

#contact_me .grechina {
    width: 50%;
}

#contact_me form input, #contact_me form textarea {
    padding: 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid gray;
}

#contact_me form input::placeholder , #contact_me form textarea::placeholder {
    color: rgb(51, 51, 51);
    margin: 10px 0;
}

#contact_me form button {
    color: white;
    background-color:  rgb(26, 188, 156);
    border-radius: 10px;
    padding: 10px 5px;
    border: none;
    margin: 10px 0;
    width: 15vw;
}